---
menu:
  main:
    weight: 40
title: People
---

{{% blocks/cover title="People of Newcastle Cognition Lab" image_anchor="top" height="full" %}}
People involved in the Newcastle Cognition Lab
{{% /blocks/cover %}}

{{% blocks/section %}}
<div class="col-12">
<h1 class="text-center">Faculty</h1>
</div>

{{< blocks/section >}}
{{< blocks/feature icon="fas fa-code-branch" title="Professor Scott Brown" >}}
		<img src="profile-scott.jpg"></img>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/newcastlecoglab" %}}
For announcement of blog posts and software releases
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-friends" title="See our members" %}}
Visit the People link above to see the current members.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}
{{< cardpane >}}
  {{< card header="Professor Scott Brown" >}}
		<img src="profile-scott.jpg"></img>
		Professor Scott Brown is a cognitive psychologist who is interested in basic and applied decision-making research. He is currently the editor in chief of the journal “Computational Brain and Behavior”.
  {{< /card >}}
  {{< card header="Header card 2" >}}
    Content card 2
  {{< /card >}}
  {{< card header="Header card 3" >}}
    Content card 3
  {{< /card >}}
{{< /cardpane >}}
{{% /blocks/section %}}
