+++
title = "Newcastle Cognition Lab"
linkTitle = "Newcastle Cognition Lab"
+++

<!-- comment/delete the style below if your baseURL is "/" -->
<style>
#td-cover-block-0 {
  background-image: url("background.jpg")
}
</style>

{{< blocks/cover title="Newcastle Cognition Lab" image_anchor="bottom" height="min" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/rmarkdown/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-info mr-3 mb-4" href="https://github.com/dcassol/docsy_Rmarkdown">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-info mr-3 mb-4" href="https://github.com/dcassol/docsy_Rmarkdown/generate">
		Use this template<i style="color: #85b185;" class="fa fa-play ml-2 "></i>
	</a>
	<p class="lead mt-5">Decision making research done well!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
Newcastle Cognition Lab is the home of Cognitive Psychology research at The University of Newcastle, Australia. We are one of the top three cognitive research laboratories in Australia, and are advocates of Bayesian methodologies as well as open science. Our research includes consumer choice, behavioural modelling, cognitive workload, perception and memory. 

The research conducted by our lab is supported by the Australian Research Council (ARC), the National Health and Medical Research Council (NHMRC), the New South Wales Ministry of Health and the Centre for Brain and Medical Health Research (CBMHR). We have also worked with the aviation industry and local government.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-code-branch" title="Research Software" %}}
See the link above for our active projects
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/newcastlecoglab" %}}
For announcement of blog posts and software releases
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-friends" title="See our members" %}}
Visit the People link above to see the current members.
{{% /blocks/feature %}}

{{< /blocks/section >}}
